body {
    margin: 0;
    padding: 0;
}


a {
    text-decoration: none;
}

.header {
    background:#eff0f2;
    padding: 64px 0 90px 0;
    font-family: 'Montserrat', sans-serif;
}

.header__logo {
    border: solid 6px #000;
    text-transform: uppercase;
    color: #000;
    font-size: 17px;
    padding: 0 11px; 
    font-weight: bold;
}

.logo_o {
    font-size: 21px;
    color: #77efe5;
}

.header__nav {
    /* margin-bottom: 193px; */
    display: flex;
}

.header__title {
    text-transform: uppercase;
    text-align: center;
    color: #505050;
    font-size: 45px;
}

.blue-bkg {
    background: #b2f2ee;
}

.header__btn {
    border: solid 2px #505050;
    background: none;
    color: #505050;
    text-transform: uppercase;
    font-style: 18px;
    letter-spacing: 0.012em;
    padding: 8px 45px;
    display: block;
    margin: 0 auto;
}

.about-us {
    padding: 30px 0 0;
    background: #f8fafa;
}

/* .about-us__title,*/ .section-title { 
    /* font-size: 38px; */
    text-transform: uppercase;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.section-subtitle {
    font-family: 'Merriweather', serif;
    color: #505050;
    text-align: center;
    font-weight: normal;
    margin: 0 0 40px;
}

.about-us__text-title {
    font-family: 'Merriweather', serif;
    text-transform: uppercase;
    color: #505050;
}

.about-us__text-inf {
    font-family: 'Montserrat' sans-serif;
    color: #505050;
}

.feature__gallery {
    display: flex;
    flex-wrap: wrap;
}
